.button.f:hover{

    background-color: white;
     border-style: solid;
     border-color:$button;
     border-width:1px;
     cursor: pointer;
   }
   
    
   .logo-image{
       display: block;
       width: 96px;
       height: 50px;
       cursor: pointer;
   }
   