
 @media (min-width: 768px) {
.hiddencard{
    display:none;
}
.hiddencard--active{
  display:flex;
}

.hiddencard2{
  display:none;
}
.hiddencard2--active{
  display:flex;

}

  }

